<h1>Welcome to members-only</h1>

<p>A site where everyone can see but only members can create</p>

<div>
  <% if current_user %>
    <p> Yep, you're logged in as 
    <% @user = User.find(current_user.id) %> 
    <%= @user.first_name %></p>
  <% else %>
    <p> No, you are not logged in.</p>
  <% end%>
</div>