<h2>Welcome to members only</h2>

<% if user_signed_in? %>
  <%= "Below are the great posts you can see as a signed-in user" %>
<% else %>
  <%= "You're limited to what you can see because you're not signed in" %>
<% end %>

<%= @posts %>